<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="shortcut icon" href="/favicon.ico">
  <script async src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Steam Checker</title>
</head>
<body>
 

  <nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
    <div class="container">
      <a class="navbar-brand" href="/" title = "SteamChecker Home">
        <div style="display: flex;align-items: center;">
          <img src="/logo/logo.svg" alt="logo" class="logo">
          <span class="logo-text">SteamChecker</span>
        </div>
      </a>
      <div>
        <button class="navbar-toggler mobile-navbar-toggler" type="button">
          <i class="fas fa-bars"></i>
        </button>
          <div class="login-wrapper d-none d-lg-block">
            <% const userKeys = Object.keys(user).length %>
            <% if(userKeys === 0) { %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <a href="/user?url=<%= user.myProfileQueryString %>">
                  <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                </a>
                <span class="view-more">
                  <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
                </span>
                <ul class="view-more-links">
                  <li class="view-more-link view-more-btn">
                  <a href="/user?url=<%= user.myProfileQueryString %>" class="view-more-btn"></a>
                   MY PROFILE
                  </a>
                  </li>
                <a href="/logout" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                      LOGOUT
                  </li>
                </a>
                </ul>
              </div>
            <% } %>
          </div>
    </div>
  </nav>


  <nav class="mobile-nav d-block d-lg-none">     
    <ul class="mobile-navlinks">
        <li class="signin-btn">
          <a href="/auth/steam">
            <img src="/images/steamloginbutton.jpg" alt="login-btn" >
          </a>
        </li>
        <li class="myprofile-btn" style="display:none;position: relative;">
          <img src="<%= user.avatar %>" alt="avatar" class="mobile-nav-avatar">
          <a href="/user?url=<%= user.myProfileQueryString %>" class="stretched-link">
            My Profile
          </a>
        </li>
      <li class="logout-btn">
        <a href="/logout" class="stretched-link">
          Logout
        </a>
      </li>
    </ul>
  </nav>




  <script>
    const navUser = <%- JSON.stringify(user) %>
    const NavUserKeys = Object.keys(navUser).length;
    const myProfileBtn = document.querySelector(".myprofile-btn");
    const siginBtn =  document.querySelector(".signin-btn");
    const logoutBtn = document.querySelector(".logout-btn");
   if(!NavUserKeys){
     myProfileBtn.style.display = "none";
     logoutBtn.style.display = "none";
     siginBtn.style.visibility = "visibile";
   }else{
    myProfileBtn.style.display = "flex";
    logoutBtn.style.display = "flex";
    siginBtn.style.visibility = "hidden";
   }
  </script>