<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <script async src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Steam Checker</title>
</head>
<body>
 

  <nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
    <div class="container">
    <a class="navbar-brand" href="/" title = "SteamChecker Home">
      <div class="logo" style="display: flex;align-items: center;">
        <!-- <svg width="34" height="23" viewBox="0 0 34 23" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.4rem;">
          <path d="M11.6854 15.9863C11.6956 15.9684 11.7057 15.9497 11.7167 15.931L12.398 14.9959L12.9106 14.2916L5.75336 11.8358C5.41816 11.2178 4.88215 10.7104 4.1969 10.4322C2.61466 9.78819 0.830827 10.6022 0.211994 12.2489C-0.406838 13.8956 0.375297 15.7513 1.95754 16.3962C2.65685 16.68 3.39523 16.6808 4.05626 16.449L11.2619 19.9937C10.8704 18.6699 11.0111 17.2134 11.6854 15.9863ZM2.36775 15.3024C2.36228 15.3008 2.35525 15.2967 2.34978 15.2959C1.3598 14.8796 0.87302 13.7118 1.26213 12.675C1.65047 11.639 2.7678 11.1243 3.76481 11.5154C3.77184 11.5187 3.77966 11.5211 3.78669 11.5227C4.78917 11.9318 5.28376 13.1068 4.89231 14.1518C4.50085 15.1951 3.37023 15.7099 2.36775 15.3024Z" fill="white"/>
          <path d="M31.806 2.28344C28.8806 -0.761147 24.1362 -0.761147 21.2108 2.28344C19.8551 3.69433 19.1285 5.511 19.0285 7.35775L19.0128 7.37971L13.0808 15.5214L12.4862 16.3378C12.4776 16.3549 12.4682 16.3703 12.4589 16.3874C11.5314 18.0748 11.7603 20.2647 13.1449 21.7057C14.5294 23.1467 16.6328 23.3841 18.2549 22.4197C18.2667 22.4124 18.2799 22.4042 18.2917 22.3969L19.0949 21.7634L26.8451 15.6482L26.9295 15.5816C28.7048 15.4775 30.4503 14.7204 31.8052 13.3103C34.7313 10.2657 34.7313 5.32884 31.806 2.28344ZM14.4935 20.3379C13.6262 19.4353 13.6262 17.9707 14.4935 17.0681C15.3608 16.1654 16.768 16.1654 17.6353 17.0681C18.5026 17.9707 18.5026 19.4353 17.6353 20.3379C16.7688 21.2405 15.3608 21.2405 14.4935 20.3379ZM16.2508 15.6978L20.4333 12.3337C20.6724 12.6809 20.9428 13.0127 21.2421 13.3249C21.5405 13.6356 21.8562 13.9145 22.1883 14.1625L18.9527 18.5204C18.9113 17.8121 18.6308 17.116 18.1104 16.5745C17.5931 16.0345 16.9282 15.7426 16.2508 15.6978ZM22.0281 12.5069C19.4801 9.85506 19.4801 5.55572 22.0281 2.9039C24.5753 0.252902 28.7071 0.252902 31.2551 2.90472C33.8023 5.55572 33.8023 9.85588 31.2551 12.5069C28.7071 15.1579 24.5753 15.1579 22.0281 12.5069Z" fill="white"/>
          <path d="M31.0301 11.2268C30.066 12.7426 28.472 13.7331 26.6686 13.7331C24.866 13.7331 23.2721 12.7426 22.3071 11.2268C22.9431 9.67852 24.2339 8.52785 25.788 8.20827C25.1372 7.84965 24.6902 7.10639 24.6902 6.24685C24.6902 5.03763 25.5763 4.05774 26.6686 4.05774C27.761 4.05774 28.6478 5.03845 28.6478 6.24685C28.6478 7.10639 28.2009 7.84884 27.5492 8.20745C29.1041 8.52785 30.3941 9.6777 31.0301 11.2268Z" fill="white"/>
          <path d="M26.6554 2.16141C29.6136 2.16141 32.0193 4.66604 32.0193 7.74397C32.0193 10.8219 29.6128 13.3265 26.6554 13.3265C23.6979 13.3265 21.2914 10.8219 21.2914 7.74397C21.2914 4.66604 23.6971 2.16141 26.6554 2.16141ZM26.6554 1.61414C23.4026 1.61414 20.7647 4.35866 20.7647 7.74479C20.7647 11.1309 23.4018 13.8754 26.6554 13.8754C29.9089 13.8754 32.546 11.1309 32.546 7.74479C32.546 4.35866 29.9081 1.61414 26.6554 1.61414Z" fill="white"/>
          </svg>                  -->
          <!-- <svg width="34" height="23" viewBox="0 0 34 23" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.4rem;">
            <path d="M5.75309 11.8349C5.41726 11.2166 4.8821 10.71 4.19697 10.4315C2.61458 9.78714 0.829972 10.6002 0.212139 12.2478C-0.406977 13.8943 0.375249 15.7506 1.95733 16.3946C2.65687 16.6785 3.39584 16.6785 4.05597 16.4473L11.2617 19.9922C10.8701 18.6695 11.0104 17.2131 11.6844 15.9861C11.6946 15.9677 11.7052 15.9484 11.7154 15.9301L12.3974 14.9946L12.9098 14.2912L5.75309 11.8349ZM4.89203 14.1515C4.50044 15.1947 3.36988 15.7099 2.36751 15.3021C2.36142 15.3001 2.35501 15.2967 2.34892 15.2944C1.35904 14.8795 0.872272 13.7116 1.26194 12.6747C1.65033 11.6391 2.76743 11.1238 3.76468 11.5154C3.77205 11.5174 3.7791 11.5207 3.78647 11.5231C4.78885 11.9316 5.28395 13.1072 4.89203 14.1515Z" fill="white"/>
            <path d="M31.8053 2.28346C28.8799 -0.761154 24.1365 -0.761154 21.2111 2.28346C19.8543 3.69455 19.1279 5.51084 19.0276 7.35749L19.0122 7.38017L13.0806 15.5225L12.4852 16.3389C12.4759 16.3549 12.4666 16.3713 12.4583 16.3883C11.5312 18.0758 11.7597 20.2643 13.1444 21.7054C14.529 23.1465 16.6318 23.3843 18.2533 22.4195C18.2668 22.4132 18.2793 22.4045 18.2915 22.3968L19.0932 21.7635L26.8447 15.6482L26.9293 15.5815C28.7036 15.4771 30.4488 14.7211 31.8046 13.31C34.7317 10.2647 34.7317 5.32808 31.8053 2.28346ZM26.4845 14.9409C25.0098 14.9409 23.6437 14.4546 22.5256 13.6298L22.1795 14.1548L22.1763 14.1591L19.9069 17.6016L18.328 19.9965L18.2793 20.0706L18.112 20.3267C18.0553 20.4021 17.9922 20.4731 17.9262 20.5418C17.7505 20.7246 17.5551 20.8753 17.3484 20.9934C16.8244 21.2902 16.2201 21.3816 15.6474 21.2645C15.1709 21.1678 14.7152 20.9267 14.3464 20.5418C13.5331 19.6977 13.3895 18.4187 13.9125 17.4185C14.0262 17.2024 14.1708 17.0003 14.3464 16.8152C14.4002 16.7605 14.4569 16.7065 14.5149 16.6561C14.5274 16.6454 14.5396 16.6348 14.5531 16.6237L14.8703 16.398L20.4773 12.3962L20.4805 12.3942L20.9724 12.0413C20.1344 10.8594 19.6393 9.39791 19.6393 7.81673C19.6393 3.88164 22.7041 0.692951 26.4842 0.692951C30.2652 0.692951 33.329 3.88164 33.329 7.81673C33.3294 11.7508 30.2655 14.9409 26.4845 14.9409Z" fill="white"/>
            <path d="M30.8016 11.4756C29.7816 12.7323 28.2572 13.5301 26.5537 13.5301C24.8498 13.5301 23.3257 12.7323 22.3057 11.4756C22.3358 11.2502 22.3826 11.0311 22.4451 10.819C22.8742 9.33617 24.024 8.17789 25.4712 7.78634C25.0039 7.43716 24.7008 6.86686 24.7008 6.22218C24.7008 5.15762 25.5308 4.29382 26.5537 4.29382C27.5765 4.29382 28.4065 5.15762 28.4065 6.22218C28.4065 6.86652 28.1034 7.43716 27.6361 7.78634C29.0833 8.17822 30.2331 9.33617 30.6622 10.819C30.7247 11.0311 30.7715 11.2502 30.8016 11.4756Z" fill="white"/>
            <path d="M16.065 20.0236C16.6927 20.0236 17.2016 19.494 17.2016 18.8407C17.2016 18.1873 16.6927 17.6577 16.065 17.6577C15.4372 17.6577 14.9283 18.1873 14.9283 18.8407C14.9283 19.494 15.4372 20.0236 16.065 20.0236Z" fill="white"/>
            </svg> -->
            <svg width="38" height="23" viewBox="0 0 38 23" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.3rem;">
              <g clip-path="url(#clip0)">
              <path d="M6.42992 11.835C6.05458 11.2167 5.45646 10.7101 4.69073 10.4316C2.92218 9.78726 0.927616 10.6003 0.237097 12.2479C-0.454857 13.8944 0.419396 15.7507 2.1876 16.3947C2.96944 16.6786 3.79535 16.6786 4.53314 16.4474L12.5866 19.9923C12.1489 18.6696 12.3057 17.2132 13.059 15.9862C13.0704 15.9678 13.0823 15.9485 13.0937 15.9302L13.8559 14.9947L14.4286 14.2913L6.42992 11.835ZM5.46756 14.1516C5.0299 15.1948 3.76634 15.71 2.64604 15.3022C2.63923 15.3002 2.63207 15.2968 2.62526 15.2945C1.51893 14.8796 0.974892 13.7117 1.4104 12.6748C1.84449 11.6392 3.09301 11.1239 4.20758 11.5155C4.21582 11.5175 4.2237 11.5208 4.23194 11.5232C5.35224 11.9317 5.90559 13.1073 5.46756 14.1516Z" fill="white"/>
              <path d="M35.5471 2.28346C32.2775 -0.761153 26.9761 -0.761153 23.7065 2.28346C22.1901 3.69455 21.3782 5.51084 21.2661 7.35749L21.2489 7.38017L14.6195 15.5225L13.954 16.3389C13.9436 16.3549 13.9332 16.3713 13.924 16.3883C12.8878 18.0758 13.1432 20.2643 14.6908 21.7054C16.2383 23.1465 18.5885 23.3843 20.4007 22.4195C20.4158 22.4132 20.4298 22.4045 20.4434 22.3968L21.3394 21.7635L30.0029 15.6482L30.0974 15.5815C32.0805 15.4771 34.031 14.7211 35.5463 13.31C38.8178 10.2647 38.8178 5.32808 35.5471 2.28346ZM29.6003 14.9409C27.9521 14.9409 26.4253 14.4546 25.1756 13.6298L24.7888 14.1548L24.7853 14.1591L22.2489 17.6016L20.4842 19.9965L20.4298 20.0706L20.2428 20.3267C20.1794 20.4021 20.1089 20.4731 20.0351 20.5418C19.8388 20.7246 19.6204 20.8753 19.3894 20.9934C18.8037 21.2902 18.1283 21.3816 17.4882 21.2645C16.9557 21.1678 16.4464 20.9267 16.0342 20.5418C15.1252 19.6977 14.9647 18.4187 15.5492 17.4185C15.6763 17.2024 15.8379 17.0003 16.0342 16.8152C16.0943 16.7605 16.1577 16.7065 16.2225 16.6561C16.2365 16.6454 16.2501 16.6348 16.2652 16.6237L16.6197 16.398L22.8864 12.3962L22.8899 12.3942L23.4397 12.0413C22.5031 10.8594 21.9498 9.39791 21.9498 7.81673C21.9498 3.88164 25.3751 0.692952 29.6 0.692952C33.8258 0.692952 37.25 3.88164 37.25 7.81673C37.2505 11.7508 33.8261 14.9409 29.6003 14.9409Z" fill="white"/>
              <path d="M34.4254 11.4755C33.2854 12.7322 31.5816 13.53 29.6777 13.53C27.7733 13.53 26.0699 12.7322 24.9299 11.4755C24.9636 11.2501 25.0159 11.031 25.0857 10.8189C25.5653 9.33605 26.8504 8.17777 28.4678 7.78622C27.9456 7.43704 27.6068 6.86674 27.6068 6.22206C27.6068 5.1575 28.5345 4.2937 29.6777 4.2937C30.8208 4.2937 31.7485 5.1575 31.7485 6.22206C31.7485 6.8664 31.4097 7.43704 30.8874 7.78622C32.5049 8.1781 33.79 9.33605 34.2696 10.8189C34.3394 11.031 34.3917 11.2501 34.4254 11.4755Z" fill="white"/>
              <path d="M17.955 20.0236C18.6565 20.0236 19.2253 19.494 19.2253 18.8407C19.2253 18.1873 18.6565 17.6577 17.955 17.6577C17.2533 17.6577 16.6846 18.1873 16.6846 18.8407C16.6846 19.494 17.2533 20.0236 17.955 20.0236Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0">
              <rect width="38" height="23" fill="white"/>
              </clipPath>
              </defs>
              </svg>
          SteamChecker 
      </div>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mobile-login-wrapper d-xs-block d-lg-none text-center"> 
            <% const userKeys = Object.keys(user).length %>
            <% if(userKeys === 0){ %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <ul class="mobile-myprofile">
                  <a href="/user?url=<%= user.myProfileQueryString %>"  class="level-one-li">
                    <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                    <li>MY PROFILE</li>
                  </a>
                  <a href="/logout">
                    <li>LOGOUT</li>
                  </a>
                </ul>
              </div>
            <% } %>
            </div>
          <div class="login-wrapper d-none d-lg-block">
            <% if(userKeys === 0) { %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <a href="/user?url=<%= user.myProfileQueryString %>">
                  <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                </a>
                <span class="view-more">
                  <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
                </span>
                <ul class="view-more-links">
                  <a href="/user?url=<%= user.myProfileQueryString %>" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                   MY PROFILE
                  </li>
                </a>
                <a href="/logout" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                      LOGOUT
                  </li>
                </a>
                </ul>
              </div>
            <% } %>
          </div>
      </div>
    </div>
  </nav>