<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <script async src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Steam Checker</title>
</head>
<body>
 

  <nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
    <div class="container">
    <a class="navbar-brand" href="/" title = "SteamChecker Home">
      <div class="logo" style="display: flex;align-items: center;">
        <svg width="49" height="23" viewBox="0 0 49 23" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:.4rem;">
          <path d="M16.8407 15.9863C16.8554 15.9684 16.87 15.9497 16.8858 15.931L17.8677 14.9959L18.6064 14.2916L8.29161 11.8358C7.80853 11.2178 7.03604 10.7104 6.04848 10.4322C3.76819 9.78819 1.19737 10.6022 0.305521 12.2489C-0.586326 13.8956 0.54087 15.7513 2.82116 16.3962C3.829 16.68 4.89313 16.6808 5.84579 16.449L16.2304 19.9937C15.6662 18.6699 15.8689 17.2134 16.8407 15.9863ZM3.41235 15.3024C3.40447 15.3008 3.39433 15.2967 3.38645 15.2959C1.95972 14.8796 1.25818 13.7118 1.81896 12.675C2.37862 11.639 3.9889 11.1243 5.42576 11.5154C5.4359 11.5187 5.44716 11.5211 5.45729 11.5227C6.90204 11.9318 7.61484 13.1068 7.05068 14.1518C6.48652 15.1951 4.8571 15.7099 3.41235 15.3024Z" fill="white"/>
          <path d="M45.838 2.28344C41.622 -0.761147 34.7845 -0.761147 30.5685 2.28344C28.6148 3.69433 27.5675 5.511 27.4234 7.35775L27.4009 7.37971L18.8518 15.5214L17.9948 16.3378C17.9824 16.3549 17.9689 16.3703 17.9554 16.3874C16.6188 18.0748 16.9487 20.2647 18.9441 21.7057C20.9395 23.1467 23.9709 23.3841 26.3086 22.4197C26.3255 22.4124 26.3446 22.4042 26.3615 22.3969L27.5191 21.7634L38.6886 15.6482L38.8102 15.5816C41.3687 15.4775 43.8843 14.7204 45.8369 13.3103C50.054 10.2657 50.054 5.32884 45.838 2.28344ZM20.8877 20.3379C19.6378 19.4353 19.6378 17.9707 20.8877 17.0681C22.1376 16.1654 24.1657 16.1654 25.4156 17.0681C26.6656 17.9707 26.6656 19.4353 25.4156 20.3379C24.1668 21.2405 22.1376 21.2405 20.8877 20.3379ZM23.4202 15.6978L29.4481 12.3337C29.7927 12.6809 30.1823 13.0127 30.6136 13.3249C31.0437 13.6356 31.4987 13.9145 31.9772 14.1625L27.3142 18.5204C27.2545 17.8121 26.8502 17.116 26.1003 16.5745C25.3548 16.0345 24.3965 15.7426 23.4202 15.6978ZM31.7464 12.5069C28.0743 9.85506 28.0743 5.55572 31.7464 2.9039C35.4174 0.252902 41.372 0.252902 45.0442 2.90472C48.7151 5.55572 48.7151 9.85588 45.0442 12.5069C41.372 15.1579 35.4174 15.1579 31.7464 12.5069Z" fill="white"/>
          <path d="M44.7199 11.2268C43.3304 12.7426 41.0332 13.7331 38.4342 13.7331C35.8364 13.7331 33.5392 12.7426 32.1485 11.2268C33.0651 9.67852 34.9254 8.52785 37.1651 8.20827C36.2271 7.84965 35.583 7.10639 35.583 6.24685C35.583 5.03763 36.86 4.05774 38.4342 4.05774C40.0085 4.05774 41.2866 5.03845 41.2866 6.24685C41.2866 7.10639 40.6424 7.84884 39.7033 8.20745C41.9442 8.52785 43.8033 9.6777 44.7199 11.2268Z" fill="white"/>
          <path d="M38.4151 2.16141C42.6784 2.16141 46.1456 4.66604 46.1456 7.74397C46.1456 10.8219 42.6773 13.3265 38.4151 13.3265C34.1529 13.3265 30.6846 10.8219 30.6846 7.74397C30.6846 4.66604 34.1518 2.16141 38.4151 2.16141ZM38.4151 1.61414C33.7273 1.61414 29.9256 4.35866 29.9256 7.74479C29.9256 11.1309 33.7261 13.8754 38.4151 13.8754C43.104 13.8754 46.9045 11.1309 46.9045 7.74479C46.9045 4.35866 43.1029 1.61414 38.4151 1.61414Z" fill="white"/>
          </svg>                  
          SteamChecker 
      </div>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mobile-login-wrapper d-xs-block d-lg-none text-center"> 
            <% const userKeys = Object.keys(user).length %>
            <% if(userKeys === 0){ %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <ul class="mobile-myprofile">
                  <a href="/user?url=<%= user.myProfileQueryString %>"  class="level-one-li">
                    <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                    <li>MY PROFILE</li>
                  </a>
                  <a href="/logout">
                    <li>LOGOUT</li>
                  </a>
                </ul>
              </div>
            <% } %>
            </div>
          <div class="login-wrapper d-none d-lg-block">
            <% if(userKeys === 0) { %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <a href="/user?url=<%= user.myProfileQueryString %>">
                  <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                </a>
                <span class="view-more">
                  <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
                </span>
                <ul class="view-more-links">
                  <a href="/user?url=<%= user.myProfileQueryString %>" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                   MY PROFILE
                  </li>
                </a>
                <a href="/logout" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                      LOGOUT
                  </li>
                </a>
                </ul>
              </div>
            <% } %>
          </div>
      </div>
    </div>
  </nav>