<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="shortcut icon" href="/favicon.ico">
  <script async src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Steam Checker</title>
</head>
<body>
 

  <nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
    <div class="container">
    <a class="navbar-brand" href="/" title = "SteamChecker Home">
      <div style="display: flex;align-items: center;">
          <img src="/logo/logo.svg" alt="logo" class="logo">
          <!-- <svg width="38" height="23" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:.3rem"><path d="M6.43 11.835a3.36 3.36 0 00-1.74-1.403C2.923 9.787.929 10.6.238 12.248c-.692 1.646.182 3.503 1.95 4.147a3.665 3.665 0 002.346.052l8.054 3.545a4.766 4.766 0 01.472-4.006l.035-.056.762-.935.573-.704-8-2.456zm-.962 2.317c-.438 1.043-1.702 1.558-2.822 1.15l-.02-.008c-1.107-.414-1.651-1.582-1.216-2.62.434-1.035 1.683-1.55 2.798-1.159l.024.008c1.12.409 1.674 1.584 1.236 2.629z" fill="#fff"/><path d="M35.547 2.283c-3.27-3.044-8.57-3.044-11.84 0-1.517 1.412-2.329 3.228-2.44 5.074l-.018.023-6.63 8.143-.665.816a.721.721 0 00-.03.05c-1.036 1.687-.78 3.875.767 5.316 1.547 1.442 3.897 1.68 5.71.715.015-.007.029-.016.042-.023l.896-.633 8.664-6.116.094-.066c1.983-.105 3.934-.86 5.45-2.272 3.27-3.045 3.27-7.982 0-11.027zM29.6 14.941a8.018 8.018 0 01-4.424-1.311l-.387.525-.004.004-2.536 3.443-1.765 2.395-.054.074-.187.256a2.852 2.852 0 01-.853.667 3.023 3.023 0 01-1.902.27 2.878 2.878 0 01-1.454-.722c-.909-.844-1.07-2.123-.485-3.123a2.736 2.736 0 01.674-.763l.042-.032.355-.226 6.266-4.002.004-.002.55-.353a6.773 6.773 0 01-1.49-4.224c0-3.935 3.425-7.124 7.65-7.124 4.226 0 7.65 3.189 7.65 7.124 0 3.934-3.424 7.124-7.65 7.124z" fill="#fff"/><path d="M34.425 11.476c-1.14 1.256-2.843 2.054-4.747 2.054-1.905 0-3.608-.798-4.748-2.054.034-.226.086-.445.156-.657.48-1.483 1.764-2.641 3.382-3.033-.522-.349-.861-.92-.861-1.564 0-1.065.928-1.928 2.07-1.928 1.144 0 2.072.864 2.072 1.928 0 .644-.34 1.215-.862 1.564 1.618.392 2.903 1.55 3.383 3.033.07.212.122.431.155.656zM17.955 20.024c.702 0 1.27-.53 1.27-1.183 0-.654-.569-1.183-1.27-1.183-.702 0-1.27.53-1.27 1.183s.568 1.183 1.27 1.183z" fill="#fff"/></svg> -->
          SteamChecker 
      </div>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mobile-login-wrapper d-xs-block d-lg-none text-center"> 
            <% const userKeys = Object.keys(user).length %>
            <% if(userKeys === 0){ %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <ul class="mobile-myprofile">
                  <a href="/user?url=<%= user.myProfileQueryString %>"  class="level-one-li">
                    <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                    <li>MY PROFILE</li>
                  </a>
                  <a href="/logout">
                    <li>LOGOUT</li>
                  </a>
                </ul>
              </div>
            <% } %>
            </div>
          <div class="login-wrapper d-none d-lg-block">
            <% if(userKeys === 0) { %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <a href="/user?url=<%= user.myProfileQueryString %>">
                  <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                </a>
                <span class="view-more">
                  <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
                </span>
                <ul class="view-more-links">
                  <a href="/user?url=<%= user.myProfileQueryString %>" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                   MY PROFILE
                  </li>
                </a>
                <a href="/logout" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                      LOGOUT
                  </li>
                </a>
                </ul>
              </div>
            <% } %>
          </div>
      </div>
    </div>
  </nav>





