<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/97224068e4/UntitledProject/style.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/steam.css">
  <title>Steam Checker</title>
</head>

<body id="profile-overview">
  <nav class="navbar navbar-light bg-light main-nav nav-with-search navbar-expand-lg">
    <a href="/" class="nav-bar-brand" title="SteamChecker Home" style="text-decoration: none">
      <i class="icon-logo"></i>
      <span class="logo-text">SteamChecker</span>
    </a>
      <div class="d-flex align-items-center">
        <button class="navbar-toggler nav-searchbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-search" style="font-size: 1.1rem;"></i>
        </button>
        <button class="navbar-toggler mobile-navbar-toggler" type="button">
          <div class="custom-burger line1"></div>
          <div class="custom-burger line2"></div>
          <div class="custom-burger line3"></div>
        </button>
      </div>
      <div class="collapse-controls collapse navbar-collapse" id="navbarSupportedContent">
        <div class="controls">
          <form action="/user" method="GET" style="display: flex;">
            <input type="text" name="url" class="url-input user-url-input" id="url-input">
            <button class="clear-input" type="button">
              <span class="clear-input-background">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <button class="search-submit" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
        <div class="login-wrapper d-none d-lg-block">
          <% if(currentUser == " ") { %>
            <div class="login">
              <a href="/auth/steam">
                <img src="/images/steamloginbutton.jpg" alt="login-btn" >
              </a>
            </div>
          <% }else{ %>
            <div class="login">
              <a href="<%= currentUser.myProfileQueryString %>">
                <img src="<%= currentUser.avatar %>" alt="avatar"  class="login-avatar">
              </a>
              <span class="view-more">
                <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
              </span>
              <ul class="view-more-links" style="z-index: 2;">
                <a href="<%= currentUser.myProfileQueryString %>" class="view-more-btn">
                <li class="view-more-link view-more-btn">
                 MY PROFILE
                </li>
              </a>
              <a href="/logout" class="view-more-btn">
                <li class="view-more-link view-more-btn">
                    LOGOUT
                </li>
              </a>
              </ul>
            </div>
          <% } %>
        </div>
  </nav>
  <nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg py-0 sub-nav d-none d-lg-block" style="z-index: 1;">
    <div class="container">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="width: 100%;justify-content: space-around;">
        <li class="nav-item section-title" style="margin-bottom: 0;">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item section-title profile-nav-item" style="margin-bottom: 0;">
          <a class="nav-link" href="#profile-overview">Profile Overview<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item section-title friends-nav-item" style="margin-bottom: 0;">
          <a class="nav-link" href="#friends">Friends</a>
        </li>
        <li class="nav-item section-title games-nav-item" style="margin-bottom: 0;">
          <a class="nav-link" href="#games">Games Owned</a>
        </li>
      </ul>
    </div>
  </nav>










  <nav class="mobile-nav d-block d-lg-none" style="z-index: 2;">     
    <ul class="mobile-navlinks">
        <li class="signin-btn">
          <a href="/auth/steam">
            <img src="/images/steamloginbutton.jpg" alt="login-btn" >
          </a>
        </li>
      <a href="/">
      <li class="nav-link">
          Home
      </li>
    </a>
        <li class="myprofile-btn" style="display:none;position: relative;" class="nav-link">
          <img src="<%= currentUser.avatar %>" alt="avatar" class="mobile-nav-avatar">
          <a href="<%= currentUser.myProfileQueryString %>" class="stretched-link">
            My Profile
          </a>
        </li>
        <li class="nav-steam-quick-links d-flex flex-column align-items-center nav-link" style="margin-bottom: 2rem;">
          <div>
            Steam Quick Links
            <button class="steam-quicklinks-viewmore">
              <i class="fas fa-chevron-down"></i>
            </button>
          </div>
          <div class="mt-3 mobile-steamquick-links-container" style="display: none;">
            <ul class="mobile-steamquick-links">
              <li class="mobile-steamquick-link">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/inventory" target="_blank" rel="no-follow">
                  Inventory
                </a>
              </li>
              <li class="mobile-steamquick-link">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/allcomments" target="_blank" rel="no-follow">
                  Profile Comments
                </a>
              </li>
              <li class="mobile-steamquick-link">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/friends/common" target="_blank" rel="no-follow">
                  Common Friends
                </a>
              </li>
              <li class="mobile-steamquick-link">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/namehistory" target="_blank" rel="no-follow">
                  Name History
                </a>
              </li>
              <li class="mobile-steamquick-link">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/groups" target="_blank" rel="no-follow">
                Groups
              </a>
              </li>
            </ul>
          </div>  
        </li>
      <a href="#profile-overview" class="profile-nav-item" style="text-decoration: none;">
      <li class="profile-overview nav-link">
          Profile Overview
      </li>
    </a>
    <a href="#friends" class="friends-nav-item" style="text-decoration: none;">
      <li class="nav-link">
          Friends
      </li>
    </a>
    <a href="#games" class="games-nav-item" class="games-nav-item" style="text-decoration: none;">
      <li class="nav-link">
        Games Owned
      </li>
    </a>
      <a href="/logout">
      <li class="logout-btn nav-link">
          Logout
      </li>
    </a>
    </ul>
  </nav>

  <script>
    const navUser = <%- JSON.stringify(currentUser) %>
    const myProfileBtn = document.querySelector(".myprofile-btn");
    const siginBtn =  document.querySelector(".signin-btn");
    const logoutBtn = document.querySelector(".logout-btn");
   if(navUser == false){
     myProfileBtn.style.display = "none";
     logoutBtn.style.display = "none";
     siginBtn.style.visibility = "visibile";
   }else{
    myProfileBtn.style.display = "flex";
    logoutBtn.style.display = "flex";
    siginBtn.style.visibility = "hidden";
   }
  </script>