<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <script async src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Steam Checker</title>
</head>
<body>
 

  <nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
    <div class="container">
    <a class="navbar-brand" href="/" title = "SteamChecker Home">
      <div class="logo" style="display: flex;align-items: center;">
        <svg width="49" height="23" viewBox="0 0 49 29" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:.3rem;">
          <path d="M16.8404 15.9854C16.8551 15.9673 16.8699 15.9492 16.8858 15.9295L17.8677 14.9939L18.6065 14.2898L8.29165 11.8342C7.80864 11.2162 7.03582 10.709 6.04821 10.4308C3.7684 9.78655 1.19652 10.6007 0.305508 12.2479C-0.58664 13.8942 0.541899 15.7506 2.8217 16.3949C3.82977 16.6789 4.89353 16.6797 5.84591 16.4482L16.2301 19.9929C15.6664 18.6691 15.8698 17.2123 16.8404 15.9854ZM3.41268 15.3017C3.40473 15.3001 3.3945 15.2968 3.38654 15.2951C1.95911 14.879 1.25789 13.7112 1.81932 12.6746C2.37961 11.6389 3.99002 11.1243 5.42655 11.515C5.43678 11.5182 5.44814 11.5207 5.45837 11.5223C6.90285 11.9319 7.61657 13.1063 7.05173 14.1511C6.4869 15.1942 4.85717 15.7088 3.41268 15.3017Z" fill="white"/>
          <path d="M44.1379 10.3421C42.8764 11.7177 40.792 12.6163 38.4338 12.6163C36.0767 12.6163 33.9912 11.7177 32.7297 10.3421C33.5616 8.9371 35.2493 7.89316 37.2814 7.60263C36.4302 7.27763 35.8449 6.603 35.8449 5.82333C35.8449 4.72605 37.003 3.83722 38.4327 3.83722C39.8612 3.83722 41.0205 4.72687 41.0205 5.82415C41.0205 6.60383 40.4352 7.27763 39.5839 7.60345C41.6194 7.89316 43.3059 8.9371 44.1379 10.3421Z" fill="white"/>
          <path d="M45.8368 2.28362C41.6205 -0.761206 34.7844 -0.761206 30.5681 2.28362C28.6144 3.69442 27.5666 5.51064 27.4222 7.35805L27.4006 7.38021L18.8519 15.5216L17.995 16.3382C17.9825 16.3547 17.9689 16.3711 17.9564 16.3875C16.6199 18.0749 16.9494 20.2645 18.9451 21.7057C20.9408 23.1468 23.9718 23.384 26.3096 22.4197C26.3267 22.4123 26.346 22.4041 26.3619 22.3967L27.5188 21.7631L38.6883 15.648L38.8099 15.5807C41.3681 15.4765 43.8832 14.7198 45.8368 13.309C50.0544 10.265 50.0544 5.32844 45.8368 2.28362ZM20.8885 20.3367C19.6384 19.4339 19.6384 17.9698 20.8885 17.067C22.1387 16.1642 24.1662 16.1642 25.4163 17.067C26.6665 17.9698 26.6665 19.4339 25.4163 20.3367C24.1662 21.2395 22.1387 21.2395 20.8885 20.3367ZM23.4206 15.6973L29.4486 12.3332C29.793 12.6803 30.1828 13.0119 30.6146 13.3238C31.0442 13.634 31.5 13.913 31.9784 14.1609L27.3154 18.518C27.2552 17.8098 26.8506 17.1138 26.1016 16.5721C25.355 16.0338 24.3969 15.7416 23.4206 15.6973ZM31.7466 12.5064C28.0746 9.85465 28.0746 5.55496 31.7466 2.90325C35.4175 0.252366 41.3716 0.252367 45.0436 2.90407C48.7144 5.55496 48.7144 9.85465 45.0436 12.5055C41.3716 15.1572 35.4175 15.1572 31.7466 12.5064Z" fill="white"/>
          </svg>        
          <span>SteamChecker</span> 
      </div>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mobile-login-wrapper d-xs-block d-lg-none text-center"> 
            <% const userKeys = Object.keys(user).length %>
            <% if(userKeys === 0){ %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <ul class="mobile-myprofile">
                  <a href="/user?url=<%= user.myProfileQueryString %>"  class="level-one-li">
                    <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                    <li>MY PROFILE</li>
                  </a>
                  <a href="/logout">
                    <li>LOGOUT</li>
                  </a>
                </ul>
              </div>
            <% } %>
            </div>
          <div class="login-wrapper d-none d-lg-block">
            <% if(userKeys === 0) { %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <a href="/user?url=<%= user.myProfileQueryString %>">
                  <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                </a>
                <span class="view-more">
                  <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
                </span>
                <ul class="view-more-links">
                  <a href="/user?url=<%= user.myProfileQueryString %>" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                   MY PROFILE
                  </li>
                </a>
                <a href="/logout" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                      LOGOUT
                  </li>
                </a>
                </ul>
              </div>
            <% } %>
          </div>
      </div>
    </div>
  </nav>