<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/steam.css">
  <title>Steam Checker</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light main-nav nav-with-search navbar-expand-lg">
      <div class="logo">
        <i class="fab fa-steam-symbol"></i><a class="navbar-brand" href="/">SteamChecker</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
        <div class="controls">
          <form action="/user" method="GET">
            <input type="text" name="url" class="url-input" id="url-input">
            <button class="search-submit" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="mobile-login-wrapper d-xs-block d-lg-none text-center mt-3"> 
              <% const mobileUserKeys = Object.keys(user).length %>
              <% if(mobileUserKeys === 0){ %>
                <div class="login nav-item">
                  <a href="/auth/steam">
                    <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                  </a>
                </div>
              <% }else{ %>
                <% const url = user.loggedUserId %>
                <% const queryURL = encodeURIComponent(url) %>
                <% const queryString = `/user?url=${queryURL}` %>
                <div class="login">
                  <ul class="mobile-myprofile">
                    <a href="<%= queryString %>" class="level-one-li">
                      <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                      <li>MY PROFILE</li>
                    </a>
                    <li class="level-one-li">
                      STEAM QUICK LINKS 
                      <span class="steam-links-view-more">
                        <i class="fas fa-chevron-right ml-2 view-more-btn"></i>
                      </span>
                      <ul class="steam-quick-links-nav">
                        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/inventory" target="_blank" rel="no-follow">
                          <li>INVENYORY</li>
                        </a>
                        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/namehistory" target="_blank" rel="no-follow">
                          <li>NAME HISTORY</li>
                        </a>
                        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/friends/common" target="_blank" rel="no-follow">
                          <li>MUTUAL FRIENDS</li>
                        </a>
                        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/allcomments" target="_blank" rel="no-follow">
                          <li>PROFILE COMMENTS</li>
                        </a>
                        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/groups" target="_blank" rel="no-follow">
                          <li>GROUPS</li>
                        </a>
                      </ul>
                    </li>
                    <a href="/logout">
                      <li>LOGOUT</li>
                    </a>
                  </ul>
                </div>
              <% } %>
              </div>
        <div class="login-wrapper d-none d-lg-block">
          <% const userKeys = Object.keys(user).length %>
          <% if(userKeys === 0) { %>
            <div class="login">
              <a href="/auth/steam">
                <img src="/images/steamloginbutton.jpg" alt="login-btn" >
              </a>
            </div>
          <% }else{ %>
            <% const url = user.loggedUserId %>
            <% const queryURL = encodeURIComponent(url) %>
            <% const queryString = `/user?url=${queryURL}` %>
            <div class="login">
              <a href="<%= queryString %>">
                <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
              </a>
              <span class="view-more">
                <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
              </span>
              <ul class="view-more-links">
                <a href="<%= queryString %>" class="view-more-btn">
                <li class="view-more-link view-more-btn">
                 MY PROFILE
                </li>
              </a>
              <a href="/logout" class="view-more-btn">
                <li class="view-more-link view-more-btn">
                    LOGOUT
                </li>
              </a>
              </ul>
            </div>
          <% } %>
        </div>
        </div>
  </nav>