<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <script async src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Steam Checker</title>
</head>
<body>
 

  <nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
    <div class="container">
    <a class="navbar-brand" href="/" title = "SteamChecker Home">
      <div class="logo" style="display: flex;align-items: center;">
        <svg width="49" height="29" viewBox="0 0 49 29" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:.7rem;">
          <path d="M16.8407 20.1567C16.8554 20.1342 16.87 20.1106 16.8858 20.087L17.8677 18.9079L18.6064 18.0199L8.29161 14.9235C7.80853 14.1442 7.03604 13.5044 6.04848 13.1537C3.76819 12.3417 1.19737 13.368 0.305521 15.4443C-0.586326 17.5206 0.54087 19.8604 2.82116 20.6735C3.829 21.0313 4.89313 21.0324 5.84579 20.7401L16.2304 25.2095C15.6662 23.5403 15.8689 21.7039 16.8407 20.1567ZM3.41235 19.2944C3.40447 19.2924 3.39433 19.2872 3.38645 19.2862C1.95972 18.7613 1.25818 17.2889 1.81896 15.9816C2.37862 14.6753 3.9889 14.0263 5.42576 14.5195C5.4359 14.5236 5.44716 14.5267 5.45729 14.5287C6.90204 15.0444 7.61484 16.526 7.05068 17.8436C6.48652 19.1591 4.8571 19.8081 3.41235 19.2944Z" fill="white"/>
          <path d="M45.838 2.87912C41.622 -0.959707 34.7845 -0.959707 30.5685 2.87912C28.6148 4.65806 27.5675 6.94865 27.4234 9.27717L27.4009 9.30485L18.8518 19.5704L17.9948 20.5999C17.9824 20.6214 17.9689 20.6409 17.9554 20.6624C16.6188 22.79 16.9487 25.5512 18.9441 27.368C20.9395 29.1849 23.9709 29.4843 26.3086 28.2683C26.3255 28.2591 26.3446 28.2488 26.3615 28.2396L27.5191 27.4408L38.6886 19.7304L38.8102 19.6463C41.3687 19.5151 43.8843 18.5605 45.8369 16.7826C50.054 12.9437 50.054 6.71897 45.838 2.87912ZM20.8877 25.6434C19.6378 24.5053 19.6378 22.6587 20.8877 21.5206C22.1376 20.3825 24.1657 20.3825 25.4156 21.5206C26.6656 22.6587 26.6656 24.5053 25.4156 25.6434C24.1668 26.7816 22.1376 26.7816 20.8877 25.6434ZM23.4202 19.7929L29.4481 15.5511C29.7927 15.989 30.1823 16.4073 30.6136 16.801C31.0437 17.1927 31.4987 17.5444 31.9772 17.8571L27.3142 23.3518C27.2545 22.4588 26.8502 21.5811 26.1003 20.8982C25.3548 20.2174 24.3965 19.8493 23.4202 19.7929ZM31.7464 15.7695C28.0743 12.4259 28.0743 7.00504 31.7464 3.66144C35.4174 0.318876 41.372 0.318877 45.0442 3.66247C48.7151 7.00504 48.7151 12.427 45.0442 15.7695C41.372 19.1121 35.4174 19.1121 31.7464 15.7695Z" fill="white"/>
          <path d="M44.7199 14.1555C43.3304 16.0667 41.0332 17.3156 38.4342 17.3156C35.8364 17.3156 33.5392 16.0667 32.1485 14.1555C33.0651 12.2033 34.9254 10.7524 37.1651 10.3495C36.2271 9.89732 35.583 8.96017 35.583 7.87639C35.583 6.35173 36.86 5.11621 38.4342 5.11621C40.0085 5.11621 41.2866 6.35276 41.2866 7.87639C41.2866 8.96017 40.6424 9.89629 39.7033 10.3485C41.9442 10.7524 43.8033 12.2023 44.7199 14.1555Z" fill="white"/>
          <path d="M38.4151 2.72526C42.6784 2.72526 46.1456 5.88327 46.1456 9.76414C46.1456 13.645 42.6773 16.803 38.4151 16.803C34.1529 16.803 30.6846 13.645 30.6846 9.76414C30.6846 5.88327 34.1518 2.72526 38.4151 2.72526ZM38.4151 2.03522C33.7273 2.03522 29.9256 5.4957 29.9256 9.76517C29.9256 14.0346 33.7261 17.4951 38.4151 17.4951C43.104 17.4951 46.9045 14.0346 46.9045 9.76517C46.9045 5.4957 43.1029 2.03522 38.4151 2.03522Z" fill="white"/>
          </svg>        
          <span>SteamChecker</span> 
      </div>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mobile-login-wrapper d-xs-block d-lg-none text-center"> 
            <% const userKeys = Object.keys(user).length %>
            <% if(userKeys === 0){ %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <ul class="mobile-myprofile">
                  <a href="/user?url=<%= user.myProfileQueryString %>"  class="level-one-li">
                    <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                    <li>MY PROFILE</li>
                  </a>
                  <a href="/logout">
                    <li>LOGOUT</li>
                  </a>
                </ul>
              </div>
            <% } %>
            </div>
          <div class="login-wrapper d-none d-lg-block">
            <% if(userKeys === 0) { %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <a href="/user?url=<%= user.myProfileQueryString %>">
                  <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
                </a>
                <span class="view-more">
                  <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
                </span>
                <ul class="view-more-links">
                  <a href="/user?url=<%= user.myProfileQueryString %>" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                   MY PROFILE
                  </li>
                </a>
                <a href="/logout" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                      LOGOUT
                  </li>
                </a>
                </ul>
              </div>
            <% } %>
          </div>
      </div>
    </div>
  </nav>