<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/97224068e4/UntitledProject/style.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Steam Checker</title>
</head>
<body>
 

  <nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
    <div class="container">
      <a href="/" class="nav-bar-brand" title="SteamChecker Home">
        <i class="icon-logo" style="font-size: 1.5rem;margin-right: .3rem;"></i>
        <span style="line-height: 1.5rem;">SteamChecker</span>
      </a>
      <!-- <a class="navbar-brand" href="/" title = "SteamChecker Home">
        <div style="display: flex;align-items: center;">
          <span class="icon-logo"></span>
          <div>SteamChecker</div>
        </div>
      </a> -->
      <div>
        <button class="navbar-toggler mobile-navbar-toggler" type="button">
          <div class="custom-burger line1"></div>
          <div class="custom-burger line2"></div>
          <div class="custom-burger line3"></div>
        </button>
          <div class="login-wrapper d-none d-lg-block">
            <% if(currentUser == " ") { %>
              <% console.log(currentUser) %>
              <div class="login nav-item">
                <a href="/auth/steam">
                  <img src="/images/steamloginbutton.jpg" alt="login-btn" >
                </a>
              </div>
            <% }else{ %>
              <div class="login">
                <a href="<%= currentUser.myProfileQueryString %>">
                  <img src="<%= currentUser.avatar %>" alt="avatar"  class="login-avatar">
                </a>
                <span class="view-more">
                  <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
                </span>
                <ul class="view-more-links">
                  <a href="<%= currentUser.myProfileQueryString %>" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                   MY PROFILE
                  </li>
                </a>
                <a href="/logout" class="view-more-btn">
                  <li class="view-more-link view-more-btn">
                      LOGOUT
                  </li>
                </a>
                </ul>
              </div>
            <% } %>
          </div>
    </div>
  </nav>


  <nav class="mobile-nav d-block d-lg-none">     
    <ul class="mobile-navlinks">
        <li class="signin-btn">
          <a href="/auth/steam">
            <img src="/images/steamloginbutton.jpg" alt="login-btn" >
          </a>
        </li>
        <li class="myprofile-btn" style="display:none;position: relative;">
          <img src="<%= currentUser.avatar %>" alt="avatar" class="mobile-nav-avatar">
          <a href="<%= currentUser.myProfileQueryString %>" class="stretched-link">
            My Profile
          </a>
        </li>
        <a href="/logout">
      <li class="logout-btn">
          Logout
      </li>
    </a>
    </ul>
  </nav>

  <script>
    const navUser = <%- JSON.stringify(currentUser) %>
    const NavUserKeys = Object.keys(navUser).length;
    const myProfileBtn = document.querySelector(".myprofile-btn");
    const siginBtn =  document.querySelector(".signin-btn");
    const logoutBtn = document.querySelector(".logout-btn");
   if(navUser == false){
     myProfileBtn.style.display = "none";
     logoutBtn.style.display = "none";
     siginBtn.style.visibility = "visibile";
   }else{
    myProfileBtn.style.display = "flex";
    logoutBtn.style.display = "flex";
    siginBtn.style.visibility = "hidden";
   }
  </script>