<%- include("partials/headerWithSearch.ejs"); %>

  <div class="container userpage-container"> 
   <section class="name-level-wrapper">
    <img src="<%= dataObj.persondata.avatarfull %>" class="avatar" alt="avatar"/>
     <div class="name-level"> 
      <h5>
        <%= dataObj.persondata.personaname %>
      </h5>
      <% if(dataObj.steamLvl){ %>
        <div class="friendPlayerLevel"><span class="friendPlayerLevelNum"><%= dataObj.steamLvl %></span></div>
      <% }else{ %>
        <div class="friendPlayerLevel"><span class="friendPlayerLevelNum">?</span></div>
      <% } %>
    </div>
    <div class="icon-links">
        <a href="">
          <img src="/images/steamrep-logo.png" alt="steamrep-logo">
        </a>
     </div>
    </section>
    <section class="about-wrapper">
      <div class="about">
        <p class="section-title">ABOUT</p>
        <hr>
        <table class="table">
          <tbody>
            <tr>
              <td class="name-label">Steam Level</td>
              <td class="data-label">
                <span class="data">
                  <%= dataObj.steamLvl %>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">Friendship</td>
              <td class="data-label">
                <span class="data">
                  <em>
                    Sign In to check 
                  </em>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">Joined Steam</td>
              <td class="data-label">
                <span class="data">
                  <% const humanDate = new Date(dataObj.persondata.timecreated*1000).toLocaleDateString("en-IN") %>
                  <%= humanDate %>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                Online Status
              </td>
              <td class="data-label">
                <span class="data" id="online-status"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <hr style="margin-top: 0;"> 
        <div class="reputation">
          <p class="section-title">
            REPUTATION
          </p>
        </div>
      </div>
    </section>
  </div>















<!-- SVGS -->
<%- include("partials/svgs/empty-shield.ejs"); %>
<%- include("partials/svgs/tick-shield.ejs"); %>
<%- include("partials/svgs/wrong-shield.ejs"); %>



<!-- MODALS -->

<div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title section-title id="exampleModalLongTitle">NOTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Send message only works for a friend of yours.
        <div class="dont-show-again mt-3">
          <input type="checkbox" name="dont-show-again-checkbox" class="dont-show-again-checkbox">
          <label for="dont-show-again-checkbox">Don't show this again</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="send-message-close" data-dismiss="modal">Close</button>
        <a href="steam://friends/message/<%= dataObj.persondata.steamid %>" rel="no-follow">
        <button type="button" class="send-message-ok">OK</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-friend-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title section-title id="exampleModalLongTitle">
          REQUEST SENT
        </h5>
      </div>
      <div class="modal-body">
       Added to friends.
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs"); %>

<script>
  const dataObj = <%- JSON.stringify(dataObj) %>
</script>

<script src="/scripts/steamLevelColor.js"></script>
<script src="/scripts/updateOnlineStatus.js"></script>



<!-- <script>
  const DoNotShowMessageAgainCheckBox = document.querySelector(".dont-show-again-checkbox");
	DoNotShowMessageAgainCheckBox.checked = false;
  let loggedUserId;
  const user = <%- JSON.stringify(user) %>
  const userKeys = Object.keys(user).length;
  if(userKeys != 0){
    loggedUserId = user.loggedUserId;
  }
  const background = document.querySelector(".profile-background");
  const banObj =  dataObj.banObj;
  const visibilityState = dataObj.persondata.communityvisibilitystate;
</script>

<script src="/scripts/updateBans.js"></script>
<script src="/scripts/checkOwnerShip.js"></script>
<script src="/scripts/updatePrivacy.js"></script>

<script src="/scripts/updateNavInputField.js"></script>
<script src="/scripts/updateBackground.js"></script>
<script src="/scripts/updateReputation.js"></script> -->