<%- include("partials/headerWithSearch.ejs"); %>

<div class="profile-background">
<div class="userpage-container container">
  <section class="name-level-wrapper">
    <div class="name-level">
      <img src="<%= dataObj.persondata.avatarfull %>" alt="avatar" class="avatar">
      <h4>
        <a href="<%= dataObj.persondata.profileurl %>" target="_blank" title="<%= dataObj.persondata.personaname %> | <%= dataObj.persondata.profileurl %>">
        <%= dataObj.persondata.personaname %>
      </a>
    </h4>
      <% if(dataObj.steamLvl){ %>
        <div class="friendPlayerLevel"><span class="friendPlayerLevelNum"><%= dataObj.steamLvl %></span></div>
      <% }else{ %>
        <div class="friendPlayerLevel"><span class="friendPlayerLevelNum">?</span></div>
      <% } %>
    </div>
    <div class="realname-profileurl">
       <p><%= dataObj.persondata.realname %></p>
    </div>
  </section>
 <section class="about-wrapper">
    <div class="about">
      <h5 class="section-title" style="margin-bottom: 3.5rem;">
        ABOUT
      </h5>
      <table class="table">
        <% if(dataObj.steamLvl) { %>
        <tr>
          <td class="name-label">
            <strong>STEAM LEVEL</strong>
          </td>
          <td class="data-label">
            <span class="data">
              <%= dataObj.steamLvl %>
            </span>
          </td>
        </tr>
        <% }else{ %>
          <tr>
            <td class="name-label">
              <strong>STEAM LEVEL</strong>
            </td>
            <td class="data-label">
              <span class="data private">
                PRIVATE
              </span>
            </td>
          </tr>
        <% } %>
        <tr class="friendship">
          <td class="name-label">
            <strong>FRIENDSHIP</strong>
          </td>
          <td class="data-label">
            <span class="data mute">
              <em><a href="/auth/steam">Sign in to check</a></em>
            </span>
          </td>
        </tr>
        <% if(dataObj.persondata.timecreated) { %>
        <tr>
          <td class="name-label">
            <strong>JOINED STEAM</strong>
          </td>
          <td class="data-label">
            <% const humanDate = new Date(dataObj.persondata.timecreated*1000).toLocaleDateString("en-IN") %>
            <span class="data">
              <%= humanDate %>
            </span>
          </td>
        </tr>
        <% } else{ %>
          <tr>
            <td class="name-label">
              <strong>JOINED STEAM</strong>
            </td>
            <td class="data-label">
              <span class="data private">
                PRIVATE
              </span>
            </td>
          </tr>
        <% } %>
        <tr class="isonline">
          <td class="name-label">
            <strong>ONLINE STATUS</strong>
          </td>
          <td class="data-label">
            <span class="data" id="online-status"></span>
          </td>
        </tr>
      </table>


      <!-- <% if(dataObj.steamLvl) { %>
        <div class="steam-level">
          <label class="name-label"><strong>STEAM LEVEL</strong></label>
          <label class="data-label">
            <span class="data"><%= dataObj.steamLvl %></span>
          </label>
        </div>
      <% }else{ %>
        <div class="steam-level">
          <label class="name-label"><strong>STEAM LEVEL</strong></label>
          <label class="data-label">
            <span class="data private">PRIVATE</span>
          </label>
        </div>
      <% } %>
      <div class="friendship">
        <label class="name-label" style="width: 70%;">
          <strong>FRIENDSHIP</strong>
        </label>
        <label class="data-label">
          <span class="data mute">
            <em><a href="/auth/steam">Sign in to check</a></em>
          </span>
        </label>
      </div>
      <% if(dataObj.persondata.timecreated) { %>
        <div class="joined-steam">
          <label class="name-label"><strong>JOINED STEAM</strong></label>
          <% const humanDate = new Date(dataObj.persondata.timecreated*1000).toLocaleDateString("en-IN") %>
          <label class="data-label">
            <span class="data"><%= humanDate %></span>
          </label>
        </div>
      <% } else{ %>
        <div class="profile-overview-date">
          <label class="name-label"><strong>JOINED STEAM</strong></label>
          <% const humanDate = new Date(dataObj.persondata.timecreated*1000).toLocaleDateString("en-IN") %>
          <label class="data-label">
            <span class="data private">PRIVATE</span>
          </label>
        </div>
      <% } %>
      <div class="isonline">
        <label class="name-label"><strong>ONLINE STATUS</strong></label>
        <label class="data-label" id="online-status">
        </label>
      </div> -->
    </div>
  </section>
<section class="nav-wrapper">
  <div class="nav"> 
     <ul class="nav-links">
       <li class="nav-link active section-title">PROFILE OVERVIEW</li>
       <li class="nav-link section-title">FRIENDS</li>
       <li class="nav-link section-title">GAMES OWNED</li>
     </ul>
  </div>
</section>
<section class="wrapper">
  <section class="steam-ids-wrapper">
    <div class="steam-ids">
      <h5 class="mb-5 section-title">STEAM ID'S</h5>
        <table class="table">
          <tbody>
            <tr>
              <td class="name-label">
                <strong>STEAMID3</strong>
              </td>
              <td class="data-label">
                <span class="data" data-full-url="<%= dataObj.objSteamIds.steam3id %>">
                  <%= dataObj.objSteamIds.steam3id %>
                </span>
                <span class="steam3id-copy copy" data-toggle="tooltip" data-placement="right" data-original-title="Copy To Clipboard">
                  <i class="far fa-clone"></i>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                <strong>STEAMID2</strong>
              </td>
              <td class="data-label"  data-full-url="<%= dataObj.objSteamIds.steam2id %>">
                <span class="data">
                  <%= dataObj.objSteamIds.steam2id %>
                </span>
                <span class="steamid2-copy copy" data-toggle="tooltip" data-placement="right" data-original-title="Copy To Clipboard">
                  <i class="far fa-clone"></i>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                <strong>STEAMID64</strong>
              </td>
              <td class=" data-label">
                <span class="data" data-full-url="<%= dataObj.objSteamIds.steam64 %>">
                  <%= dataObj.objSteamIds.steam64 %>
                </span>
                <span class="steamid64-copy copy" data-toggle="tooltip" data-placement="right" data-original-title="Copy To Clipboard">
                  <i class="far fa-clone"></i>
                </span>
              </td>
            </tr>
            <% if(dataObj.objSteamIds.customURL){ %>
            <tr>
              <td class="name-label">
                <strong>VANITY URL</strong>
              </td>
              <td class="data-label">
                <span class="data" data-full-url="<%= dataObj.objSteamIds.customURL %>">
                  <%= dataObj.objSteamIds.customURL %>
                </span>
                <span class="vanityURL-copy copy" data-toggle="tooltip" data-placement="right" data-original-title="Copy To Clipboard">
                  <i class="far fa-clone"></i>
                </span>
              </td>
            </tr>
          <% }else{ %>
            <tr>
              <td class="name-label">
                <strong>VANITY URL</strong>
              </td>
              <td class="data-label">
                <span class="data mute">
                <em>not set</em>
                </span>
              </td>
            </tr>
          <% } %>
          </tbody>
        </table>
        </div>
  </section>
  <section class="profile-privacy-wrapper">
    <div class="profile-privacy">
      <h5 class="mb-5 section-title">PROFILE PRIVACY</h5>
       <table class="table">
        <tbody>
          <tr>
            <td class="name-label">
              <strong>PRIVACY STATE</strong>
            </td>
            <td class="data-label">
              <span id="privacy-state" class="data"></span>
            </td>
          </tr>
          <tr>
            <td class="name-label">
              <strong>TRADE BAN</strong>
            </td>
            <td class="data-label">
              <span class="data" id="trade-ban"></span>
            </td>
          </tr>
          <tr>
            <td class="name-label">
              <strong>VAC BAN</strong>
            </td>
            <td class="data-label">
              <span class="data" id="vac-ban"></span>
            </td>
          </tr>
          <tr>
            <td class="name-label">
              <strong>COMMUNITY BAN</strong>
            </td>
            <td class="data-label">
              <span class="data" id="community-ban"></span>
            </td>
          </tr>
        </tbody>
      </table>
  </section>
</section>
<section class="steam-quick-links-wrapper">
  <div class="steam-quick-links">
    <h5 class="mb-5 section-title">STEAM QUICK LINKS</h5>
    <ul class="steam-quick-links-list">
      <li class="steam-quick-link">
        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/inventory" target="_blank" rel="no-follow">
          Inventory
        </a>
      </li>
      <li class="steam-quick-link">
        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/allcomments" target="_blank" rel="no-follow">
          Profile Comments
        </a>
      </li>
      <li class="steam-quick-link">
        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/friends/common" target="_blank" rel="no-follow">
          Common Friends
        </a>
      </li>
      <li class="steam-quick-link">
        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/namehistory" target="_blank" rel="no-follow"> 
         Name History
        </a>
      </li>
      <li class="steam-quick-link">
        <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/groups" target="_blank" rel="no-follow"> 
         Groups
        </a>
      </li>
    </ul>
  </div>
</section>
</div>
</div>





<!-- MODALS -->

<div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title section-title id="exampleModalLongTitle">NOTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Send message only works for a friend of yours.
        <div class="dont-show-again mt-3">
          <input type="checkbox" name="dont-show-again-checkbox" class="dont-show-again-checkbox">
          <label for="dont-show-again-checkbox">Don't show this again</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="send-message-close" data-dismiss="modal">Close</button>
        <a href="steam://friends/message/<%= dataObj.persondata.steamid %>" rel="no-follow">
        <button type="button" class="send-message-ok">OK</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-friend-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title section-title id="exampleModalLongTitle">
          REQUEST SENT
        </h5>
      </div>
      <div class="modal-body">
       Added to friends.
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>



<script>
  const DoNotShowMessageAgainCheckBox = document.querySelector(".dont-show-again-checkbox");
	DoNotShowMessageAgainCheckBox.checked = false;
  let loggedUserId;
  const user = <%- JSON.stringify(user) %>
  const userKeys = Object.keys(user).length;
  if(userKeys != 0){
    loggedUserId = user.loggedUserId;
  }
  const background = document.querySelector(".profile-background");
  const dataObj = <%- JSON.stringify(dataObj) %>
  const banObj =  dataObj.banObj;
  const visibilityState = dataObj.persondata.communityvisibilitystate;
  if(dataObj.backgroundFull != undefined && dataObj.backgroundFull && dataObj.backgroundFull != "https://steamcdn-a.akamaihd.net/steamcommunity/public/images/undefined"){
    background.style.backgroundImage = `url(${dataObj.backgroundFull})`
  }else{
    background.style.backgroundImage = "url(/images/cover-placeholder.jpg)";
  }
 const navInput = document.querySelector("#url-input");
 const id = dataObj.persondata.steamid;
 navInput.value=`https://steamcommunity.com/profiles/${id}`
</script>

<script src="/scripts/updateBans.js"></script>
<script src="/scripts/checkOwnerShip.js"></script>
<script src="/scripts/updatePrivacy.js"></script>
<script src="/scripts/steamLevelColor.js"></script>
<script src="/scripts/updateOnlineStatus.js"></script>


<%- include("partials/footer.ejs"); %>