<%- include("partials/headerWithSearch.ejs"); %>
  <div class="container userpage-container"> 
   <section class="name-level-wrapper">
    <div class="image">
       <img src="<%= dataObj.persondata.avatarfull %>" class="avatar" alt="avatar"/>
    </div>
    <div class="name-flex-wrapper">
      <div class="name-level">
        <a href="<%= dataObj.persondata.profileurl %>" title="<%= dataObj.persondata.personaname %> | <%= dataObj.persondata.profileurl %>" target="_blank" rel="no-follow">
          <h5>
            <%= dataObj.persondata.personaname %>
          </h5>
        </a>
        <% if(dataObj.steamLvl){ %>
          <div class="friendPlayerLevel"><span class="friendPlayerLevelNum"><%= dataObj.steamLvl %></span></div>
        <% }else{ %>
          <div class="friendPlayerLevel"><span class="friendPlayerLevelNum">?</span></div>
        <% } %>
      </div>
      <div class="icon-links">
          <a href="<%= dataObj.steamrepReputation.steamrepurl %>" title="SteamRep | <%= dataObj.persondata.personaname %> | <%= dataObj.steamrepReputation.steamrepurl %>" target="_blank" rel="no-follow">
            <img src="/images/steamrep-logo.png" alt="steamrep-logo">
          </a>
       </div>
    </div>
    </section>
    <section class="about-wrapper">
      <div class="about">
        <p class="section-title">ABOUT</p>
        <hr>
        <table class="table">
          <tbody>
            <% if(dataObj.steamLvl){ %>
              <tr>
                <td class="name-label">Steam Level</td>
                <td class="data-label">
                  <span class="data">
                    <%= dataObj.steamLvl %>
                  </span>
                </td>
              </tr>
            <% }else{ %>
              <tr>
                <td class="name-label">Steam Level</td>
                <td class="data-label">
                  <span class="data private">
                    private
                  </span>
                </td>
              </tr>
            <% } %>
            <tr>
              <td class="name-label">Friendship</td>
              <td class="data-label friendship">
                <span class="data mute">
                  <em>
                    <a href="/auth/steam">Sign In to check </a>
                  </em>
                </span>
              </td>
            </tr>
            <% if(dataObj.persondata.timecreated){ %>
              <tr>
                <td class="name-label">Joined Steam</td>
                <td class="data-label">
                  <span class="data">
                    <% const humanDate = new Date(dataObj.persondata.timecreated*1000).toLocaleDateString("en-IN") %>
                    <%= humanDate %>
                  </span>
                </td>
              </tr>
            <% }else{ %>
              <tr>
                <td class="name-label">Joined Steam</td>
                <td class="data-label">
                  <span class="data private">
                    private
                  </span>
                </td>
              </tr>
            <% } %>
            <tr>
              <td class="name-label">
                Online Status
              </td>
              <td class="data-label">
                <span class="data" id="online-status"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <hr style="margin-top: 0;"> 
        <p class="reputation-title section-title">
          REPUTATION
        </p>
        <div class="reputation">
          <span class="data" style="color: #7A7D7F;font-weight: 750;">
          <svg class="parent-svg" width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:.4rem">
            <use href="#empty-shield"></use>
          </svg>                           
            <%= dataObj.steamrepReputation.fullReputation %>
          </span>
          <span class="by-steamrep" style="font-size: .6rem;text-align: end;">
             By <a href="https://steamrep.com" style="color:inherit;" target="_blank" rel="no-follow">SteamRep.com</a>
          </span>
        </div>
      </div>
    </section>
    <section class="steam-ids-wrapper">
      <div class="steam-ids">
         <p class="section-title">STEAM ID'S</p>
         <hr>
         <table class="table">
           <tbody>
             <tr>
               <td class="name-label">
                 SteamID64
               </td>
               <td class="data-label">
                  <span class="data" data-full-URL = "<%= dataObj.objSteamIds.steam64 %>">
                    <%= dataObj.objSteamIds.steam64 %>
                  </span>
                  <span class="vanityURL-copy copy" data-toggle="tooltip" data-placement="right" data-original-title="Copy To Clipboard">
                    <i class="far fa-clone"></i>
                  </span>
               </td>
             </tr>
             <tr>
              <td class="name-label">
                SteamID2
              </td>
              <td class="data-label">
                 <span class="data" data-full-URL="<%= dataObj.objSteamIds.steam2id %>">
                   <%= dataObj.objSteamIds.steam2id %>
                 </span>
                 <span class="vanityURL-copy copy" data-toggle="tooltip" data-placement="right" data-original-title="Copy To Clipboard">
                  <i class="far fa-clone"></i>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                SteamID3
              </td>
              <td class="data-label">
                 <span class="data" data-full-URL="<%= dataObj.objSteamIds.steam3id %>">
                   <%= dataObj.objSteamIds.steam3id %>
                 </span>
                 <span class="vanityURL-copy copy" data-toggle="tooltip" data-placement="right" data-original-title="Copy To Clipboard">
                  <i class="far fa-clone"></i>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">FiveMID</td>
              <td class="data-label">
                <span class="data" data-full-URL="<%= dataObj.objSteamIds.fiveMID %>">
                  <%= dataObj.objSteamIds.fiveMID %>
                </span>
                <span class="vanityURL-copy copy" data-toggle="tooltip" data-placement="right" data-original-title="Copy To Clipboard">
                  <i class="far fa-clone"></i>
                </span>
              </td>
            </tr>
            <% if(dataObj.objSteamIds.customURL){ %>
              <tr>
                <td class="name-label">
                  Vanity URL 
                </td>
                <td class="data-label">
                   <span class="data" data-full-URL="<%= dataObj.objSteamIds.customURL %>">
                     <%= dataObj.objSteamIds.customURL %>
                   </span>
                   <span class="vanityURL-copy copy" data-toggle="tooltip" data-placement="right" data-original-title="Copy To Clipboard">
                    <i class="far fa-clone"></i>
                  </span>
                </td>
              </tr>
            <% }else{ %>
              <tr>
                <td class="name-label">
                  Vanity URL 
                </td>
                <td class="data-label">
                   <span class="data mute">
                     Not Set
                   </span>
                </td>
              </tr>
            <% } %>
           </tbody>
         </table>
      </div>
    </section>
    <section class="profile-privacy-wrapper">
      <div class="profile-privacy">
        <p class="section-title">PROFILE PRIVACY</p>
        <hr>
        <table class="table">
          <tbody>
            <tr>
              <td class="name-label">
                Privacy State
              </td>
              <td class="data-label">
                <span class="data" id="privacy-state"></span>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                VAC Ban
              </td>
              <td class="data-label">
                <span class="data" id="vac-ban">
                  <%= dataObj.banObj.vacBan %>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                Game Ban
              </td>
              <td class="data-label">
                <span class="data" id="game-ban">
                  <%= dataObj.banObj.gameBan %>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                Trade Ban
              </td>
              <td class="data-label">
                <span class="data">
                  <%= dataObj.banObj.tradeBan %>
                </span>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                Community Ban
              </td>
              <td class="data-label">
                <span class="data" id="community-ban">
                  <%= dataObj.banObj.communityBan %>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="steam-quick-links-wrapper">
      <div class="steam-quick-links">
        <p class="section-title">
          STEAM QUICK LINK'S 
          <span style="color: #989898;margin-left:.2rem"><i class="fas fa-link"></i></span>
        </p>
        <hr>
        <table class="table">
          <tbody>
            <tr >
              <td class="name-label">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/inventory" target="_blank" rel="no-follow">
                  Inventory
                </a>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/allcomments" target="_blank" rel="no-follow">
                  Profile Comments
                </a>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/friends/common" target="_blank" rel="no-follow">
                  Common Friends
                </a>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/namehistory" target="_blank" rel="no-follow">
                  Name History
                </a>
              </td>
            </tr>
            <tr>
              <td class="name-label">
                <a href="http://steamcommunity.com/profiles/<%= dataObj.persondata.steamid %>/groups" target="_blank" rel="no-follow">
                  Groups
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>















<!-- SVGS -->
<%- include("partials/svgs/empty-shield.ejs"); %>
<%- include("partials/svgs/tick-shield.ejs"); %>
<%- include("partials/svgs/wrong-shield.ejs"); %>



<!-- MODALS -->

<div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title section-title id="exampleModalLongTitle">NOTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Send message only works for a friend of yours.
        <div class="dont-show-again mt-3">
          <input type="checkbox" name="dont-show-again-checkbox" class="dont-show-again-checkbox">
          <label for="dont-show-again-checkbox">Don't show this again</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="send-message-close" data-dismiss="modal">Close</button>
        <a href="steam://friends/message/<%= dataObj.persondata.steamid %>" rel="no-follow">
        <button type="button" class="send-message-ok">OK</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-friend-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title section-title id="exampleModalLongTitle">
          REQUEST SENT
        </h5>
      </div>
      <div class="modal-body">
       Added to friends.
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs"); %>

<script>
  const dataObj = <%- JSON.stringify(dataObj) %>
  const visibilityState = dataObj.persondata.communityvisibilitystate;
  const banObj =  dataObj.banObj;
  let loggedUserId;
  const user = <%- JSON.stringify(user) %>
  const userKeys = Object.keys(user).length;
  if(userKeys != 0){
    loggedUserId = user.loggedUserId;
  }
</script>

<script src="/scripts/steamLevelColor.js"></script>
<script src="/scripts/updateOnlineStatus.js"></script>
<script src="/scripts/updatePrivacy.js"></script>
<script src="/scripts/updateBans.js"></script>
<script src="/scripts/updateNavInputField.js"></script>
<script src="/scripts/updateReputation.js"></script>
<script src="/scripts/updateBackground.js"></script>
<script src="/scripts/checkOwnerShip.js"></script>



<!-- <script>
  const DoNotShowMessageAgainCheckBox = document.querySelector(".dont-show-again-checkbox");
	DoNotShowMessageAgainCheckBox.checked = false;
</script>



 -->